doctype html
html
	head
		title Love Letter
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui")
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700")
		link(rel="stylesheet", type="text/css", href="statics/fonticons.css")
		link(rel="stylesheet/less", type="text/css", href="stylesheets/base.less")
		link(rel="stylesheet/less", type="text/css", href="stylesheets/index.less")
		script(type="text/javascript", src="statics/less.min.js")
		script(type="text/javascript", src="statics/socket.io.min.js")
		script(type="text/javascript", src="statics/jquery.min.js")
		script(type="text/javascript", src="javascripts/index.js")
	body
		block content
		.already-connected
			.already-connected-text
				="An existing connection found."
				br
				="Only 1 concurrent connection is allowed."
