extends dom

block content
	.container.align-center
		.inline-block
			h1.title.align-center Love Letter
			.frames-view(data-frame=hasName ? "1" : "0")
				.frames
					form.frame.register-frame
						label.register-title Hello, I need a name.
						label.register-error.error Name has been taken.
						input.align-center(type="input")
						.clearfix
							button.float-right.start-button
								span Go
					.frame.roomlist-frame
						h2.greeting="Hi "
							span.greeting-name=hasName ? name : ""
							="."
						h2 Select or create a room.
						ul.roomlist.align-left
							li Room 1
							li Room 2
							li Room 3
							li Room 3
							li Room 3
							li Room 3
							li Room 3
							li Room 3
						.clearfix
							button.float-right.create-button
								span Create a Room
					form.frame.createroom-frame
						label.createroom-title Let's give a room name.
						label.createroom-error.error Name has been taken.
						input.align-center(type="input")
						.clearfix
							button.float-left.back-button
								span Back
							button.float-right.create-button
								span Create
