@import "colors";

.already-connected {
	position: fixed;
	display: none;
	text-align: center;

	&.active {
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&::before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.already-connected-text {
		font-size: 32px;
		color: @grey50;
		padding: 0 32px;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
	}
}

.pages-view {
	.pages {
		position: relative;
		width: 1160px * 2;
		transition: transform .5s;

		&::after {
			content: '';
			display: table;
			clear: both;
		}

		[data-page="0"]& {
			transform: translateX(0);
		}

		[data-page="1"]& {
			transform: translateX(-1160px);
		}

		@media (max-width: 1240px) {
			width: 760px * 2;

			[data-page="1"]& {
				transform: translateX(-760px);
			}
		}

		@media (max-width: 780px) {
			width: 360px * 2;

			[data-page="1"]& {
				transform: translateX(-360px);
			}
		}

		@media (max-width: 380px) {
			width: 320px * 2;

			[data-page="1"]& {
				transform: translateX(-320px);
			}
		}

		.page {
			opacity: 0;
			float: left;
			transition: opacity .2s;

			&:nth-child(1) {
				[data-page="0"]& {
					opacity: 1;
				}
			}

			&:nth-child(2) {
				[data-page="1"]& {
					opacity: 1;
				}
			}
		}
	}
}

.frames-view {
	width: 370px;
	overflow-x: hidden;
	overflow-y: visible;

	.frames {
		position: relative;
		width: 360px * 3;
		transition: transform .5s;
		margin: 0 5px;

		&::after {
			content: '';
			display: table;
			clear: both;
		}

		[data-frame="0"]& {
			transform: translateX(0);
		}

		[data-frame="1"]& {
			transform: translateX(-360px);
		}

		[data-frame="2"]& {
			transform: translateX(-360px * 2);
		}

		.frame {
			width: 360px;
			opacity: 0;
			float: left;
			transition: opacity .2s linear;

			&:nth-child(1) {
				[data-frame="0"]& {
					opacity: 1;
				}
			}

			&:nth-child(2) {
				[data-frame="1"]& {
					opacity: 1;
				}
			}

			&:nth-child(3) {
				[data-frame="2"]& {
					opacity: 1;
				}
			}
		}
	}
}

.title {
	margin: 32px 0;
	font-weight: 300;
	font-size: 72px;
}

.register-frame {
	padding: 32px;

	.register-error {
		display: none;
	}

	.start-button {
		visibility: hidden;
		opacity: 0;
		transition: all .3s;

		.ready& {
			visibility: visible;
			opacity :1;
		}
	}

	&.error {
		.register-title {
			display: none;
		}

		.register-error {
			display: block;
		}
	}
}

.roomlist-frame {
	h2 {
		font-weight: 300;
	}

	.greeting-name {
		color: @blue500;
	}

	.roomlist {
		overflow-x: hidden;
		overflow-y: auto;
		border-radius: 4px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		height: 200px;
		margin: 16px 0;

		li {
			padding: 16px;
			cursor: pointer;
			font-weight: 400;
			border-bottom: 1px solid @grey100;
			position: relative;
			height: 80px;

			.room-name {
				font-size: 18px;
				height: 32px;
				line-height: 32px;
				margin: 0 64px 0 0;
			}

			.room-owner {
				font-size: 14px;
				color: @grey700;
				height: 16px;
				line-height: 16px;
				margin: 0 64px 0 0;
			}

			.room-total {
				position: absolute;
				top: 0;
				right: 16px;
				height: 80px;
				line-height: 80px;
				text-align: center;
			}

			&:hover {
				color: @blue500;
				background-color: @blue50;

				.room-owner {
					color: @blue300;
				}
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}
}

.createroom-frame {
	padding: 32px;

	.createroom-error {
		display: none;
	}

	.create-button {
		visibility: hidden;
		opacity: 0;
		transition: all .3s;

		.ready& {
			visibility: visible;
			opacity :1;
		}
	}

	&.error {
		.createroom-title {
			display: none;
		}

		.createroom-error {
			display: block;
		}
	}
}
